.series{
    background-color: $grey_bg;
    color: white;
    padding-bottom: 1rem;
    .title{
        background-color: $brand_primary;
        padding: 1rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 2rem;
        .card{
            margin: 0 0.7rem 1.5rem 0;
            width: 180px;
            text-transform: uppercase;
            h4{
                font-size: 0.7rem;
                padding: 0.5rem 0;
            }
            .card_img{
                width: 180px;
                height: 180px;
                overflow: hidden;
                img{
                    height: fit-content;
                }
            }
        }
    }
    .load{
        text-align: center;
        a{
            padding: 0.5rem 2rem;
            background-color:$brand_primary;
            text-decoration: none;
            color: white;
            font-size: 0.8rem;
        }
    }
}
.shop-wrap{
    background-color: $brand_primary;
    padding: 2rem 0;
    color: white;
    .shop{
        display: flex;
        align-items: center;
        justify-content: center;
        .buy{
            padding: 0 1.5rem;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            img{
                margin-right: 0.7rem;
                height: 40px;
            }
        }
    }
}