.series{
    background-color: $grey_bg;
    color: white;
    .title{
        background-color: $brand_primary;
        padding: 1rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 2rem;
        .card{
            margin: 0 0.7rem 1.5rem 0;
            width: 180px;
            text-transform: uppercase;
            h4{
                font-size: 0.7rem;
                padding: 0.5rem 0;
            }
            .card_img{
                width: 180px;
                height: 180px;
                overflow: hidden;
                img{
                    height: fit-content;
                }
            }
        }
    }
}