#site_footer{
    .links{
        background-image: url(/images/dc-logo-bg.png), url(/images/footer-bg.jpg) ;
        background-position: center right, center left;
        background-repeat: no-repeat;
        padding: 1.5rem 0;
        .container{
            display: flex;
            justify-content: space-between;
            .link_cols{
                width: calc(100% / 2);
                display: flex;
                justify-content: flex-start;             
                .col{
                    width: calc(100% / 3 - 1rem);
                    padding-right: 1rem;
                    h2{
                        color: white;
                        padding: 1rem 0;
                    }
                    ul{
                        list-style: none;
                        li{
                            a{
                                text-decoration: none;
                                color: rgba(255, 255, 255, 0.6);
                                line-height: 1.5rem;
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
            .logo_bg{
                width: calc(100% / 2);
                img{
                    width:50%;
                }
            }
            .rights{
                margin-top: 1rem;
                color: rgba(255, 255, 255, 0.6);
                font-size: 0.8rem;
                a{
                    color: $brand_primary;
                    text-decoration: none;
                }
            }
        }
    }

    .socials{
        background-color: $grey_bg;
        padding: 2rem 0;
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button{
                padding: 0.8rem;
                border: 1px solid $brand_primary;
                text-decoration: none;
                color: white;
            }
            .social-links{
                    display: flex;
                    align-items: center; 
                        a{  
                            padding: 0 0.5rem;
                            text-decoration: none;
                            &:first-child{
                                color: $brand_primary;
                            }   
                            img{
                                height: 25px;
                            }             
                        }
            }
        }
    }
}